.main {
  background: #ffffff40;
  backdrop-filter: blur(10px);
  border-radius: 9px;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: rgb(74, 74, 74);
  span{
    color: rgb(23, 102, 81);
  }
}
