.results {
  border-radius: 6px;
  color: rgb(74, 74, 74);
  background: rgba(255, 255, 255, 0.2509803922);
  backdrop-filter: blur(5px);
  padding: 15px 25px 15px 15px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;

  &-info {
    display: flex;
    justify-content: space-between;
  }
}
